:root {
    --main-color: #2196F3;
    --hero-bg: #C4C4C4;
    --hedding-color: #212121;
    --main-text-color: #757575;
    --white-color: #fff;
    --team-section-bg: #F5F4FA;
    --footer-bg-c: #2F303A;
    --logo-color: #000;
    --header-border-color: #ececec;
    --portfolio-border-color: #eee;

    --primery-font: Roboto, sans-serif;

    --primery-margin: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: var(--main-text-color);
    background-color: var(--white-color);

    font-family: var(--primery-font);
    font-style: normal;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* ХЕДЕР */
.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid var(--header-border-color);
}

.header .conteiner {
    display: flex;
    align-items: center;
}

.header-logo,
.footer-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--logo-color);
}

.header-logo {
    display: block;
    margin-right: 93px;

    padding: 24px 0 25px 0;
}

.footer-logo {
    color: var(--white-color);
}

.logo-web {
    color: var(--main-color);
}

.nav-list,
.contact-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:last-child) {
    margin-right: var(--primery-margin);
}

.nav-link,
.contact-link {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 32px 0;
}

.nav-link {
    color: var(--hedding-color);
}

.contact-link {
    color: var(--main-text-color);
}

.contact-list {
    margin-left: auto;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--main-color);
}

/* ГЛАВНЫЙ КОНТЕНТ */
/* Герой */
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-color: var(--hedding-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    padding: 200px 0;
}

.hero .conteiner {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-headding {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);

    width: 696px;
    margin-bottom: var(--primery-margin);
}

.hero-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;

    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);

    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* Общии стили секции */
.section {
    padding: 94px 0;
}

/* Стилизация преимуществ */
.advantages.section {
    padding-bottom: 0;
}

.advantages-list {
    display: flex;
}

.advantages-item {
    flex-basis: calc((100% - 3 * var(--primery-margin)) / 4);
}

.advantages-title {
    color: var(--hedding-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

.advantages-item:not(:last-child) {
    margin-right: var(--primery-margin);
}

/* Стилизация наших работ */
.work-title,
.team-title {
    color: var(--hedding-color);

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.work-item:not(:last-child) {
    margin-right: var(--primery-margin);
}

/* Стилизация нашей команды */
.team {
    background-color: var(--team-section-bg);
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--white-color);
    flex-basis: calc((100% - 3 * var(--primery-margin)) / 4);
}

.team-item:not(:last-child) {
    margin-right: var(--primery-margin);
}

.team-thumb {
    padding: var(--primery-margin) 0;
}

.member-name {
    color: var(--hedding-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.member-position {
    color: var(--main-text-color);

    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ФУТЕР */
.footer {
    background-color: var(--footer-bg-c);

    padding: 60px 0;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--white-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.transparent {
    color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛИО */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button {
    color: var(--hedding-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--team-section-bg);
    border: none;
    border-radius: 4px;

    padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {    
    color: var(--white-color);

    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--primery-margin)) calc(-1 * var(--primery-margin)) 0;
}

.portfolio-item {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--portfolio-border-color);
    flex-basis: calc(100% / 3 - var(--primery-margin));
    margin: 0 var(--primery-margin) var(--primery-margin) 0;
}

.portfolio-item:hover,
.portfolio-item:focus {
    border: 1px solid var(--portfolio-border-color);
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
    padding: 20px 24px;

    background: var(--white-color);
    /* border: 1px solid #EEEEEE; */
    box-sizing: border-box;
}

.work-name {
    color: var(--hedding-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.work-kind {
    color: var(--main-text-color);
    
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}